resource/firmware.tar.gz filter=lfs diff=lfs merge=lfs -text
resource/root/usr/share/fonts/noto-sans-mono/NotoSansMono-Regular.ttf filter=lfs diff=lfs merge=lfs -text
resource/root/usr/share/fonts/noto-sans-mono/NotoSansMono-Thin.ttf filter=lfs diff=lfs merge=lfs -text
resource/root/usr/share/fonts/open-sans/OpenSans-Bold.ttf filter=lfs diff=lfs merge=lfs -text
resource/root/usr/share/fonts/open-sans/OpenSans-Regular.ttf filter=lfs diff=lfs merge=lfs -text
resource/root/usr/share/fonts/dejavu-serif/DejaVuSerif-BoldItalic.ttf filter=lfs diff=lfs merge=lfs -text
resource/root/usr/share/fonts/open-sans/OpenSans-ExtraBoldItalic.ttf filter=lfs diff=lfs merge=lfs -text
resource/root/usr/share/fonts/open-sans/OpenSans-MediumItalic.ttf filter=lfs diff=lfs merge=lfs -text
resource/root/usr/share/fonts/noto-sans-mono/NotoSansMono-Black.ttf filter=lfs diff=lfs merge=lfs -text
resource/root/usr/share/fonts/noto-sans-mono/NotoSansMono-Light.ttf filter=lfs diff=lfs merge=lfs -text
resource/root/usr/share/fonts/noto-sans-mono/NotoSansMono-Medium.ttf filter=lfs diff=lfs merge=lfs -text
resource/root/usr/share/fonts/noto-sans-mono/NotoSansMono-SemiBold.ttf filter=lfs diff=lfs merge=lfs -text
resource/root/usr/share/fonts/open-sans/OpenSans-BoldItalic.ttf filter=lfs diff=lfs merge=lfs -text
resource/root/usr/share/fonts/open-sans/OpenSans-Italic.ttf filter=lfs diff=lfs merge=lfs -text
resource/root/usr/share/fonts/open-sans/OpenSans-SemiBoldItalic.ttf filter=lfs diff=lfs merge=lfs -text
resource/root/usr/share/fonts/dejavu-serif/DejaVuSerif-Bold.ttf filter=lfs diff=lfs merge=lfs -text
resource/root/usr/share/fonts/open-sans/OpenSans-LightItalic.ttf filter=lfs diff=lfs merge=lfs -text
resource/root/usr/share/fonts/open-sans/OpenSans-SemiBold.ttf filter=lfs diff=lfs merge=lfs -text
resource/root/usr/share/fonts/noto-sans-mono/NotoSansMono-ExtraLight.ttf filter=lfs diff=lfs merge=lfs -text
resource/root/usr/share/fonts/note-sans-kr/NotoSansKR-VariableFont_wght.ttf filter=lfs diff=lfs merge=lfs -text
resource/root/usr/share/fonts/open-sans/OpenSans-ExtraBold.ttf filter=lfs diff=lfs merge=lfs -text
resource/root/usr/share/fonts/open-sans/OpenSans-Light.ttf filter=lfs diff=lfs merge=lfs -text
resource/root/usr/share/fonts/dejavu-serif/DejaVuSerif.ttf filter=lfs diff=lfs merge=lfs -text
resource/root/usr/share/fonts/note-sans-jp/NotoSansJP-VariableFont_wght.ttf filter=lfs diff=lfs merge=lfs -text
resource/root/usr/share/fonts/dejavu-serif/DejaVuSerif-Italic.ttf filter=lfs diff=lfs merge=lfs -text
resource/root/usr/share/fonts/note-sans-sc/NotoSansSC-VariableFont_wght.ttf filter=lfs diff=lfs merge=lfs -text
resource/root/usr/share/fonts/note-sans-tc/NotoSansTC-VariableFont_wght.ttf filter=lfs diff=lfs merge=lfs -text
resource/root/usr/share/fonts/noto-sans-mono/NotoSansMono-Bold.ttf filter=lfs diff=lfs merge=lfs -text
resource/root/usr/share/fonts/noto-sans-mono/NotoSansMono-ExtraBold.ttf filter=lfs diff=lfs merge=lfs -text
resource/root/usr/share/fonts/open-sans/OpenSans-Medium.ttf filter=lfs diff=lfs merge=lfs -text
